.input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}

.urlSuccess {
    color: rgb(73, 237, 73);
    font-style: italic;
    display: inline-block;
    margin-top: 1rem;
}

.urlShorten {
    color: blue;
    margin-right: 1rem;
}

.urlShortenerPage {
    /* display: flex; */
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.urlShortenerContainer {
   width: 50%;
}
.urlShortenerInfo {
    display: flex; 
    flex-direction: column;
}